*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blob{
    width: 250px;
    height: 250px;
    background: url(g7.webp) no-repeat center;
    border: 2px solid #1c5c4f;
    background-size: cover;
    margin: 10rem 0;
    border-radius: 50% 70% 60% 70%;
    animation: change 6s linear infinite;
    transition: all .5s ease-in-out;
}

@keyframes change {
    0% , 100%{
        border-radius: 50% 70% 60% 70%;
        transform: scale(.9);
    }
    33%{
        border-radius: 100% 70% 85% 70%;
        transform: scale(1.1);
    }
    66%{
        border-radius: 100% 90% 50% 120%;
        transform: scale(1.5);
    }
}